.form-wrapper {
  margin: 60px auto;
  width: 840px;
  background-color: $background_light;
  border-radius: 5px;
  border: 1px solid $border_light;
  box-shadow: $box-shadow-stack;
}

.form-header {
  margin: 0;
  height: 60px;
  border-bottom: 1px solid $border_strong;
  h2 {
    font-size: 18px;
    color: $blue_light;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 60px;
  }
}

.form-content {
  padding: 30px 115px;
}

form {
  &.form-default {

    .field_with_errors {
      width: 100%;

      input {
        border: 1px solid $pink !important;
      }
    }

    .field {
      min-height: 45px;
      display: block;
      line-height: 45px;
      margin-bottom: 15px;
    }

    .form-left {
      height: inherit;
      width: 190px;
      float: left;
      text-align: left;

      .legend {
        display: block;
        font-size: 12px;
        line-height: 1.2;
        font-style: italic;
        position: relative;
        top: -10px;
      }
    }

    .form-right {
      width: 415px;
      float: left;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
      width: inherit;
      height: 40px;
      border-radius: 10px;
      border: none;
      outline: none;
      padding: 20px;
      color: $blue_light;
      font-weight: bold;
    }

    textarea {
      @extend input[type=text];
      resize: none;
      height: 100px;
    }

    .actions {
      text-align: right;
    }
  }
}