<div class="container results-for tweets">

  <% if @posts.empty? %>
      <div class="sub-container-left no-results"><%= t 'search.no_results.tweets' %></div>
  <% else %>
      <div class="sub-container-left">
        <% @posts.each do |p| %>
            <%= render partial: 'shared/post_view', locals: {post: p} %>
        <% end %>
      </div>
  <% end %>

  <div class="sub-container-right">
    <%= render partial: 'shared/hashtag_box' %>
  </div>

</div>