#users_show {

  .user-cover {
    width: 100%;
    height: 400px;
    margin-bottom: 120px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    .container {
      width: 480px;
      height: 100%;
      padding-top: 30px;
      position: relative;
      text-align: center;

      img {
        width: 130px;
        height: 130px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        border: 3px solid $white;
      }

      span {
        display: block;
        text-align: center;
        color: $white;

        &.user-firstname-lastname {
          margin-top: 20px;
          font-size: 24px;
        }
        &.user-username {
          margin-top: 15px;
        }
        &.user-bio {
          margin-top: 20px;
          word-break: break-all;
        }

      }

      a {
        svg {
          width: 20px;
          height: 20px;
          display: inline-block;
          fill: $white;
          position: relative;
          top: 4px;
          left: -5px;
        }
        &.edit {
          display: inline-block;
          text-decoration: none;
          margin: 25px auto;
        }
        &.follow, &.unfollow {
          display: none;
          text-decoration: none;
          margin: 25px auto;
          &.active {
            display: inline-block;
          }
        }
      }

      .bottom {
        position: absolute;
        bottom: -90px;
        height: 115px;
        width: 100%;
        background-color: $background_light;
        border-radius: 10px;
        box-shadow: -3px 4px 10px 0px rgba(000, 000, 000, 0.05);

        ul {
          margin: 0;
          margin-top: 35px;
          padding: 0;
          font-size: 0;
          li {
            font-size: 14px;
            display: inline-block;
            width: 25%;

            span {
              width: 100%;
              color: $black;
              padding: 0px;

              &.number {
                font-size: 20px;
                color: $blue;
                font-weight: 700;
              }
              &.label {
                text-transform: lowercase;
              }
            }

          }
        }
      }
    }
  }
}