#users_show{


  .user-cover{
    width: 100%;
    height: 400px;

    .container{
      width: 480px;
      height: 100%;
      position: relative;

      .bottom{
        position: absolute;
        bottom: 0;
        height: 115px;
        width: 100%;
        background-color: $background_light;
        border-radius: 10px;
      }
    }
  }
}