<div class="user-cover" style="background-image: url('<%= @object.banner.attachment.url() %>')">

</div>

<%= @object.email %>

<% @collection.each do |p| %>
    <%= render partial: 'shared/post_view', locals: { post: p }%>
<% end %>
