<div class="hashtag-trend-box left-bar-item">
  <%= content_tag 'h2', t('trend_hashtags') %>
  <% @trend_hashtags.each do |h| %>
      <ul>
        <%= link_to hashtag_path(hashtag: h.name) do %>
            <li><%= "##{h.name}" %></li>
        <% end %>
      </ul>
  <% end %>
</div>