#error-500 {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);

  background: image-url('dog_img_500.png') no-repeat center;
  background-size: cover;

  text-align: center;
  color: $white;

  .container {
    margin-top: calc(50% - 140px);
    h1 {
      font-size: 60px;
      margin: 0;
    }
    p {
      font-size: 21px;
    }
    a {
      text-decoration: none;
      display: inline-block;
    }
  }
}

#errors_internal_error {
  footer {
    display: none;
  }
}