#search_search_results {

  nav{
    &.results {
      background-color: $white;
      height: 60px;
      line-height: 60px;
      box-shadow: $box-shadow-stack;

      form{
        display: inline-block;
      }
    }
  }

  .results-for{
    &.users{

    }

    &.tweets{

    }
  }

}