<div id="error-500">
  <div class="container">
    <%= content_tag :h1, t('internal_error.title') %>
    <%= content_tag :p, t('internal_error.message') %>
    <%= link_to t('back_to_home'), root_path, class: 'default-btn' %>
  </div>
</div>