header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  min-width: 1020px;
  background-color: $blue;
  z-index: 10;

  .locale-selector{
    display: inline-block;
    position: relative;
    top: 4px;
    left: 15px;
  }

  a {
    &.title {
      display: inline-block;
      height: 100%;
      width: 150px;
      text-align: center;
      line-height: 60px;
      font-weight: 16px;
      color: $white;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  nav {
    position: absolute;
    height: 60px;
    line-height: 60px;
    right: 0;
    top: 0;
    display: inline-block;
    padding-right: 45px;

    a {
      color: $white;
      text-decoration: none;

      &.open-popup {

      }
    }
    .popup {
      img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        position: relative;
        top: 12px;
        left: -10px;
      }
      .popup-content {
        position: absolute;
        width: 150px;
        border-radius: 10px;
        top: 50px;
        right: 10px;
        height: 0px;
        z-index: -1000;
        opacity: 0;
        background-color: $background_light;
        transition: all 0.5s ease;
        a {
          color: $black;
          height: 35px;
          line-height: 35px;
          display: block;
          text-align: center;
          &:last-child {
            border-top: 1px solid $grey-light;
          }
        }
      }
      &:hover {
        .popup-content {
          height: 70px;
          z-index: 11;
          opacity: 1;
        }
      }
    }
  }

  form {
    position: relative;
    display: inline-block;
    width: 590px;
    height: 35px;
    line-height: 60px;

    svg {
      position: absolute;
      left: 15px;
      top: 22px;
      height: 15px;
      width: 15px;
      fill: $white;
    }

    ::-webkit-input-placeholder {
      color: $white;
    }
    ::-moz-input-placeholder {
      color: $white;
    }
    ::-ms-input-placeholder {
      color: $white;
    }

    input {
      &[type=text] {
        background-color: $blue_lighter;
        color: $white;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 14px;
        padding-left: 40px;
      }
    }
  }
}