.single-post-view {

  .image-layout {
    width: 100%;
    height: 160px;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }

  box-shadow: $box-shadow-stack;
  position: relative;
  background-color: $white;
  border-radius: 10px;
  width: 620px;
  margin: 20px auto;

  .post-contents {
    position: relative;
    padding: 30px;
    .post-user-image {
      float: left;
      border-radius: 50%;
    }

    .right {
      padding-left: 70px;
      a {
        text-decoration: none;
        color: $blue_light;
      }
      .post-user {
        font-weight: 700;
      }
      .post-username {
      }
      .post-created_at {
        float: right;
        color: $grey-light;
      }
      .post-message {
        margin-top: 15px;
        word-break: break-all;
      }
      .post-retweeted {
        font-style: italic;
        font-size: 12px;
      }
    }
  }

  .post-side {
    position: absolute;
    top: 2px;
    left: -35px;
    width: 35px;
    color: $grey-light;
    text-align: center;

    .retweet-button {
      .blue {
        color: $blue-light;
      }
    }

    img {
      margin: 2px auto;
      display: block;
    }

    form {
      input[type=image] {
        margin: 2px auto;
        outline: none;
        display: block;
      }
      &.like-form {
        input[type=image] {
          &.unlike-button {
            display: none;
          }
          &.like-button {
            display: block;
          }
        }
        &.active {
          color: $pink;
          input[type=image] {
            &.unlike-button {
              display: block;
            }
            &.like-button {
              display: none;
            }
          }
        }
      }
      &.retweet-form {
        img {
          display: none;
        }
        &.submitted {
          color: $blue-light;
          input[type=image] {
            display: none;
          }
          img {
            display: block;
          }
        }
      }
    }
  }

}

#posts_show{
  .image-layout {
    height: inherit;
    img {
      max-width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }
}