html.turbolinks-progress-bar::before {
  background-color: $pink !important;
  height: 3px !important;
}

*{
  box-sizing: border-box;
}

html, body{
  position: relative;
  width: 100%;
  height: 100%;

  font-family: $font-stack;
  font-size: 14px;
  line-height: 1.2;

}

body{
  background-color: $background;
  color: $black;
  padding-top: 60px;
  margin: 0;

  .container{
    max-width: 960px;
    width: 960px;
    margin: 0 auto;
  }

  .sub-container-left{
    width: 620px;
    float: left;
    clear: both;
  }

  .sub-container-right{
    width: 280px;
    float: right;
    clear: both;
  }
}

.default-btn{
  background-color: $pink;
  border-radius: 10px;
  line-height: 35px;
  height: 35px;
  padding: 0px 35px;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 14px;
  color: $white;
  cursor: pointer;
}


