@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300,300italic,100italic,100);

$font-stack: 'Lato', sans-serif;

$white: #FFF;
$black: #404040;

/*-----------------
Bleu
-----------------*/

$header: #303f9f;
$header_search: #4e5bae;
$hashtag_txt_rt: #3f51b5;
$barre_ecriretweet_colorationzonecommentaire: #edeff8;


/*-----------------
Gris
-----------------*/

$grey-light: #969696;
$grey: #404040;
$background: #f5f5f8;


/*-----------------
Rose
-----------------*/

$pink: #ff4081;